.container {
  padding: 2px 16px;
  margin:10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.header {
  text-align: center;
}

.list {
  flex: 0 1 calc(25% - 1em);
  padding: 30px;
  height: 100px;
  list-style-type: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s;
  border-radius: 5px;
}

.list:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #ddd;
}
